.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navigation {
  margin-top: 20px;
}

.button {
  padding: 10px;
  border: 1px solid gray;
  background-color: gray;
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 1.2em;
  line-height: 2rem;
}

.login {
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}
.login div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.login > h2 {
  font-size: 2rem;
  color: Red;
  font-weight: bold;
}

.btn {
  padding: 5px 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: rgb(233, 56, 56);
  transition: 0.5s;
}

.my-facebook-button-class {
  background-color: #4267b2;
  color: white;
  width: 50px;
  /* height: 40px; */
  border-radius: 50%;
  border: 1px solid #4267b2;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 10px;
  transition: all 0.3s;
}
.my-facebook-button-class:hover {
  width: 50px;
  color: #4267b2;
  background-color: white;
}
