/* .App {
  text-align: center;
} */

.navigation {
  margin-top: 20px;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.button {
  padding: 10px;
  border: 1px solid gray;
  background-color: gray;
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 1.2em;
  line-height: 2rem;
}

.login {
  width: 300px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
}

.login > h2 {
  font-size: 2rem;
  color: Red;
  font-weight: bold;
}

.btn {
  padding: 5px 10px;
  color: black;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: rgb(233, 56, 56);
  transition: 0.5s;
}

.my-facebook-button-class {
  background-color: #4267b2;
  color: white;
  width: 50px;
  /* height: 40px; */
  border-radius: 50%;
  border: 1px solid #4267b2;
  cursor: pointer;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  padding: 10px;
  transition: all 0.3s;
}
.my-facebook-button-class:hover {
  width: 50px;
  color: #4267b2;
  background-color: white;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  display: block;
  width: 250px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}
.error {
  color: red;
}

.home__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.home__nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
}

.active {
  color: red;
}
.home__nav button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 6px;
}

.right_section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile_section {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid red;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  background: red;
  color: white;
}

.profile_section-img {
  width: 17px;
  height: 17px;
  border-radius: 20%;
}
